Dharkael/
Kvantum/
Mousepad/
NuGet/
QtProject.conf
Thunar/
autostart/
dconf/
discord/
enchant/
falkon/
gtk-2.0/
htop/
manjaro-hello.json
manjaro/
menus/
mono.addins/
orage/
pamac/
pulse/
qpdfview/
qt5ct/
silentcast_presets
smplayer/
smtube/
user-dirs.dirs
user-dirs.locale
volumeicon/
xbuild/
xfce4/
JetBrains/
bauh/
composer/
configstore/
galculator/
libreoffice/
viewnior/
vlc/
xfce4-dict/
